<ion-view view-title="Login">
    <ion-content>
        <login-buttons></login-buttons>
        <!--<div class="list list-inset">-->
            <!--<label class="item item-input">-->
                <!--<input id="email-form" type="text" placeholder="Username">-->
            <!--</label>-->
            <!--<label class="item item-input">-->
                <!--<input id="password-form" type="password" placeholder="Password">>-->
            <!--</label>-->
        <!--</div>-->
        <!--<div class="padding">-->
            <!--<button ng-click ="logger.login()" class="button button-block button-positive">Submit</button>-->
        <!--</div>-->
    </ion-content>
</ion-view>