<ion-tabs class="tabs-stable tabs-icon-top tabs-color-positive" ng-cloak>

    <ion-tab title="Home" icon-on="ion-ios-home" icon-off="ion-ios-home" href="#/tab/home">
        <ion-nav-view name="tab-home"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Jobs" icon-on="ion-ios-clock" icon-off="ion-ios-clock-outline" href="#/tab/recents">
        <ion-nav-view name="tab-recents"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Chats" icon-on="ion-ios-chatbubble" icon-off="ion-ios-chatbubble-outline" href="#/tab/chats">
        <ion-nav-view name="tab-chats"></ion-nav-view>
    </ion-tab>

</ion-tabs>